<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

    <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->
    <targets async="true">
        <!-- add your targets here -->

        <target xsi:type="File" name="debugfilelog" fileName="${basedir}/Logs/${shortdate}.${level}.log" layout="${time}|${logger}|${message} ${onexception:${newline}${exception:format=ToString}${newline}${stacktrace}${newline}}" />
    </targets>

    <rules>
        <!-- add your logging rules here -->

        <logger name="*" minlevel="Trace" writeTo="debugfilelog" />
    </rules>
</nlog>